input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: darkgray;
}

textarea{
    width: 100%;
    background-color: darkgray;
}

html {
    background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}